:root {
  --color-white: #fff;
  --color-grey: #222;
  --color-green-dark: hsl(133, 60%, 44%);
  --color-green-light: hsl(133, 60%, 60%);
  --color-background: var(--color-white);
  --color-font: var(--color-grey);
  --color-button-border: #33a9dc;
  --color-button-background: #33d9d8;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-image: linear-gradient(45deg, var(--color-green-light), var(--color-green-dark); */
  background-color: var(--color-background);
  color: var(--color-font);
  margin: 0;
}

#grid-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(10px, auto) 1fr minmax(10px, auto);
  grid-template-rows: minmax(40px, auto) 1fr minmax(40px, auto);
  grid-template-areas: "header header header""main main main""footer footer footer";
}

header {
  grid-area: header;
  background-color: var(--color-grey);
  position: fixed;
  width: 100%;
  margin-bottom: 32px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#nav-bar-logo {
  margin-left: 10px;
}

#nav-bar-logo img {
  /* display: block;
  width: 100%; */
}

#nav-bar-links {
  margin-right: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
  margin-left: 16px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
}

#hero {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin: 0 15px;
  margin-bottom: 16px;
  border-radius: 5px;
}

input[type="email"]:focus {
  border: 2px solid var(--color-button-border);
}

.btn-pricing {
  padding: 4px;
  background-color: var(--color-button-background);
  color: var(--color-white);
  border-radius: 5px;
  border: 1px var(--color-button-border) solid;
  cursor: pointer;
  width: 100%;
  max-width: 75px;
  height: 30px;
  margin: 0 auto;
}

#submit {
  padding: 8px;
  background-color: var(--color-button-background);
  color: var(--color-white);
  font-weight: 400;
  border-radius: 5px;
  border: 1px var(--color-button-border) solid;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  max-width: 150px;
  height: 50px;
}

#submit:hover {
  border: 1px var(--color-button-background) solid;
  background-color: var(--color-button-border);
  font-weight: 500;
  transition: 0.4s;
}

#video {
  width: 100%;
  max-width: 560px;
  height: auto;
}

#features {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  /* max-width: 900px; */
}

.icon {
  margin-top: 8px;
}

.icon:hover {
  color: var(--color-button-background);
}

#features-grid {
  max-width: 900px;
}

#pricing-grid {
  align-content: space-between;
}

.pricing-container {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.pricing-container ol {
  list-style: none;
}

.pricing-type {
  text-transform: uppercase;
  background-color: lightgrey;
  padding: 15px;
  font-weight: 700;
}

.btn-pricing {
  text-transform: uppercase;
}

footer {
  background-color: var(--color-grey);
  color: var(--color-white);
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  color: orange;
}

/* nav a {
  transition: 0.3s
}

nav a:hover {
  font-size: 18px;
  font-weight: 600;
  padding: 24px 10px;
  color: var(--color-white);
  border-bottom: 4px solid var(--color-white);
} */



/* MEDIA QUERIES */
@media (max-width: 600px) {

  nav {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    flex-direction: column;
  }

  #hero {
    margin-top: 100px;
  }

  input[type="email"] {
    width: 200px;
  }

  .features-grid {
    flex-wrap: wrap;
    width: auto;
  }

  #pricing-grid {
    flex-direction: column;
  }

  .pricing-container {
    margin-bottom: 10px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}